
@{
    ViewData["Title"] = "Product";
}

<h1>Product</h1>
<hr/>
<div class="border my-3 p-5">
    <h2>Hiển thị dữ lấy từ Controller</h2>
    <p>@ViewBag.messageVB</p>
    <p>@ViewData["messageVD"]</p>
    <p>@TempData["messageTD"]</p>
</div>

