@model List<Lesson02.Assignment.Models.Category>
    <ul class="list-group">
        <li class="list-group-item active" aria-current="true">DANH MỤC</li>

        @{
            foreach (var item in Model)
            {
                <li class="list-group-item">
                    <a href="/san-pham/@item.Id">@item.Name</a>
                </li>
            }
        }

    </ul>
